body{
    background-color: #d1d8e0;
}
header{
    height: 100px;
    background-color: #3867d6;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.logo{
    height: 70px;
}
.url{ 
    color: black;
}
.url:hover {
    color:red;
}
.imgs{
    width: 200px;
    height: 150px;
}
a:hover{
    color: red;
}
table{
    border: 4px double black;
}
th{
    border: 1px solid black;
}
tr:nth-child(odd){
     background-color: gray; 
}
tr:nth-child(even){
    background-color: #3867d6; 
}
footer{
    height: 100px;
    background-color: #4b6584;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.slider {
    position: relative;
    padding: 0px 20px;
}
.ph{
    width: 150px;
}
.slick-track {
    display: flex;
}
  
.slick-list {
    overflow: hidden;
}
  
.slick-arrow {
    position: absolute;
    top: 35%;
    margin: -10px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 10px;
    height: 30px;
}
  
.slick-arrow.slick-prev {
    left: 0;
    height: 30px;
    background: url('imgs/left.png') 0 0 / 100% no-repeat;
}
  
.slick-arrow.slick-next {
    right: 0;
    height: 30px;
    background: url('imgs/right.png') 0 0 / 100% no-repeat;
}
  
.slick-dots {
    display: flex; 
    align-items: center; 
    justify-content: center;
}
  
.slick-dots li {
   list-style: none;
    margin-right: 10px; 
}
  
.slick-dots button {
    font-size: 0;
    width: 5px;
    height: 5px;
    background-color: rgb(214, 214, 214);
    border-radius: 50%;
}
  
.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid rgb(214, 214, 214);
}
@media all and (orientation: landscape), (min-device-width: 700px){
    .ph{
        width: 200px;
    }
    header{
        height: 65px;
        background-color: #3867d6;
    }
    .logo{
        height: 60px;
    }
    footer{
        height: 60px;
    }
    label{
        font-size: medium;
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        margin: -30px 0px 0px 0px;
        z-index: 10;
        font-size: 0;
        width: 30px;
        height: 60px;
      }
      .slick-dots button {
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color: rgb(214, 214, 214);
        border-radius: 50%;
      }
      .slider {
        position: relative;
        padding: 0px 60px;
      }
}
